<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2017/10/17/10/03/contact-2860030_960_720.jpg" alt="contato">
    <ion-card-header>
      <ion-card-title>Agradecemos o seu contato</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="call-outline" color="danger"></ion-icon>
        <ion-label color="danger" class="ion-text-wrap">  (21) 4002-8922</ion-label>
  
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>